<div class="text-outer">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <div class="text-content">
                <h3>Enter text here to find the sentiment:</h3>
                <mat-form-field>
                    <textarea matInput [(ngModel)]="textToConvert" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
            </div>
            <button mat-stroked-button color="primary" (click)="onConvert()">Convert</button>
        </mat-grid-tile>
        <mat-grid-tile>
            <div *ngIf="emotion!==''">
                <h4>Detected emotion is:</h4>
                <div class="emotion-output">{{emotion}}</div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
