<div class="text-outer">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <div class="text-content">
                <h2>Enter text here to find the sentiment:</h2>
                <mat-form-field>
                    <textarea matInput
                    [(ngModel)]="textToConvert"
                    [ngModelOptions]="{standalone: true}"
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="15"
                    cdkAutosizeMaxRows="15">
                    </textarea>
                </mat-form-field>
                <button mat-stroked-button color="primary" (click)="onConvert()">Convert</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div *ngIf="emotion!==''">
                <h3>Detected emotion is:</h3>
                <div class="emotion-output">{{emotion}}</div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
